<nav class="navbar navbar-expand-lg navbar-dark px-4 py-0 myNav" id="navbar-example2">
    <div class="container-fluid">
      <a class="navbar-brand d-flex" routerLink="HomePage">
        <div><img src="../../../assets/webBackGround.png" alt="error" style="max-width:100%; height: auto" class="rounded-pill"></div>
        <div><p class="text-light mt-4"> قلاوون </p></div>
      </a>


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"  id="navbarSupportedContent">
        <div class="navbar-nav me-auto">
          <div *ngIf="isLoggedIn()&& role()==='Client'; then Client "></div>
          <div *ngIf="isLoggedIn() && role()==='Admin';then Admin "></div>


          <ng-template #Client>
            <a class="nav-link active " aria-current="page" href="#" routerLink="ChooseCategory"><button type="button" class="btn mybtnRegister" >اختار الفئة</button></a>
          </ng-template>

          <ng-template #Admin>
          <a class="nav-link" href="#"><button type="button" class="btn me-3 mybtnRegister" routerLink="/AddProduct"> Admin DashBoard</button></a>


          </ng-template>

          <p *ngIf="isLoggedIn();then Login else NotLogin"></p>
          <ng-template #NotLogin>
            <a class="nav-link active" aria-current="page" href="#" routerLink="Login"><button type="button" class="btn mybtnRegister" >تسجيل الدخول</button></a>

          </ng-template>

          <ng-template #Login>

          <a class="nav-link" href="#"><button type="button" class="btn me-3 mybtnRegister  " routerLink="/Product/ProductDetails"> منتجاتنا</button></a>


              <li class="nav-item dropdown">
              <i class="fas fa-user-alt  mt-2   fs-5 text-light" ></i>

                <a class="nav-link dropdown-toggle mt-1" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                  <h4 class=" dropdown-item nav-link active  fs-6 btn bg-white text-center" style="color: #9c627d;">{{userInfo.userName}}</h4>

                  <li class="mt-2"><button class="dropdown-item btn mybtnLogout fs-6 text-center"  routerLink="MyProfile/Profile">MY Profile</button>
                  </li>

                  <li>
                    <button  type="button" class=" dropdown-item nav-link active bg-white fs-6 btn mybtnLogout text-center" style="color: #9c627d;" (click)="Logout()" >تسجيل خروج
                      <i class="fas fa-sign-out-alt mx-2 mb-1"></i></button>
                  </li>


                </ul>
              </li>
            </ng-template>

          <div *ngIf="!isLoggedIn(); then  log"></div>
          <ng-template #log>
            <a class="nav-link active" aria-current="page" href="#" routerLink="Register"><button type="button" class="btn mybtnRegister" >انشاء حساب </button></a>

          </ng-template>





        </div>
      </div>
  </div>
</nav>






