.myNav{
    background-color: #9c627d;
}
.mybtnRegister{
    // background-color: white;
    // color: #9c627d;
    font-weight: bolder;
    color: white;
    font-size: large;
}
.mybtnLogout{
  color: #9c627d;
  //  background-color: white;
    font-weight: bolder;
}
.myProfile{
  color: white;
  font-weight: bolder;
}
