.myCat{
    height: 300px;
    border-radius: 50%;
    background-image: url(../../../assets/bgChoose.jpg);
    background-size: cover;
    cursor: pointer;
}
img{
    width: 120px;
    height: 120px;
}
