<div class="container-fluid p-5">
    <div class="h3 text-center">
        <p>أهلا بك فى موقعنا</p>
        <img src="../../../assets/Logo black.jpg" alt="error">
    </div>
    <div class="myCat float-md-start pt-5" routerLink="HomePage"><p class="text-center pt-5 h2"> فضى </p></div>
    <div class="myCat float-md-end pt-5" routerLink="HomePage"><p class="text-center pt-5 h2">  دهبى </p></div>
</div>

<!-- <div class="container-fluid p-5" style="background-image: url(../../../assets/background1.jpg); background-size: caver; height: 640px; width: 100%;">
    <div class="h3 text-center">
        <p>أهلا بك فى موقعنا</p>
        <img src="../../../assets/Logo black.jpg" style="border-radius: 50%;" alt="error">
    </div>
    <div class="myCat float-md-start pt-5" style="background-color: #c0c0c0;" routerLink="HomePage"><p class="text-center pt-5 h2"> فضى </p></div>
    <div class="myCat float-md-end pt-5" style="background-color: #d4af37;" routerLink="HomePage"><p class="text-center pt-5 h2">  دهبى </p></div>
</div> -->