// .myCat{
//     width: 30%;
//     height: 350px;
//     border-radius: 50%;
//     background-image: url(../../../assets/background1.jpg);
//     background-size: cover;
//     cursor: pointer;
// }
img{
    width: 150px;
    height: 150px;
}



.myCat{
    width: 30%;
    height: 350px;
    border-radius: 50%;
    background-color: white;
    // background-image: url(../../../assets/background1.jpg);
    // background-size: cover;
    cursor: pointer;
}