.myLink{
    border-color: #ebb0cd;
    color: ebb0cd;
}
.myLink:hover {
    background: #ebb0cd;
    color: white;
}
.myCardProduct{
    box-shadow: 0 4px 8px 0 #dd8db5, 0 6px 20px 0 #db87b1;
}
.myDetails{
    background: #e6a2c3;
}