<div class="container-fluid p-5" id="product">
    <div class="d-flex flex-wrap pb-4 justify-content-center">
        <button (click)="setAllProductCategory()" class="d-lg-block mb-lg-3 me-1 px-5 mt-3 btn mybutton" style="height: 58px;">الكل</button>
        <div *ngFor="let subCat of subCategoies" class="my-3 ">
          <button (click)="filterProduct(subCat.id, subCat.subCategoryName)" class="link-dark d-lg-block mb-lg-3 me-1 px-5 py-3 btn mybutton">{{subCat.subCategoryName}}</button>
        </div>
    </div>

    <div *ngIf="showSizeRing">
      <div class="text-center mb-4">
        <span >لكيفيه معرفة حجم خاتمك <a href="RingSize" style="color: #393f81;">إضغط هنا</a></span>
      </div>
    </div>

    <div class="d-flex mx-auto flex-wrap justify-content-center">
        <div *ngFor="let product of spasificProduct" >
          <div class="card me-4 mb-3 myCardProduct" style="width: 14rem; min-height: 330px; max-height: auto;">
            <div class="align-center  text-center" style="max-height: 100%;">
              <img [src]="createImgPath(product.productImage)" onerror="if (this.src != '../../assets/error1.png') this.src = '../../assets/error1.png';" [ngStyle]="{'background-image':createImgPath(product.productImage)}" class="card-img-top images p-2 mx-auto w-100 img-fluid " style=" height: auto; max-height: 200px;" alt="error">
            </div>

            <div class="card-body text-center" style="height: 40%;">
                <h5 class="card-title">{{product.productName}}</h5>
                <p class="card-text">{{product.price}}ج</p>
                <a href="#" class="btn allbutton hover" routerLink="{{'/Product/ProductDetails/'+ product.id}}">التفاصيل</a>
                <!-- <a href="#" class="btn myDetails me-1" routerLink="#">اطلب الان </a> -->
            </div>
            </div>
        </div>
    </div>
</div>
