.myCardProduct{
    box-shadow: 0 1px 2px 0 #6bcccc , 0 1px 5px 0 #4dacac ;
}
.mybutton{
  box-shadow: 0 1px 2px 0 #6bcccc , 0 1px 5px 0 #4dacac ;
    background-color: rgb(151, 148, 148);
    color: white
}
