.myCarousel{
    background-color: rgb(240, 238, 238);
}
.myCard{
    width: 90%;
}
.myTitel{
    text-shadow: 2px 2px 5px #106e6e ;
}
.myCardProduct{
    box-shadow: 0 1px 2px 0 #6bcccc , 0 1px 5px 0 #4dacac ;
}
.myDataOfAbout{
    background-color: rgb(241, 240, 240);
}
video{
    max-width: 100%;
    height: auto;
}
.myIntegramIcon{
    color: 	#8a3ab9;
    font-size: 30px;
}
.myfacebookIcon{
    color: 	#4267B2;
    font-size: 30px;
}
hr{
    height: 3px;
    width: 80%;
}
img{
    max-width: 100%;
    height: auto;
}
.myDetails{
    background: #106e6e ;
    color: white;
}
.myArrow{
    background-color: #106e6e ;
}
<<<<<<< HEAD
.myCat{
  border-radius: 20%;
  background-color: rgb(240, 238, 238);
  border: 2px solid #106e6e;
  cursor: pointer;
=======
.images:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  // transform: scale(1.1);
  background-image: url('../../../assets/i5.jpg');
>>>>>>> 5cf4e00a5a0bc3666dc01ee031ee17e86661c4f3
}
