.myCarousel{
    // background-image: url(../../../assets/background1.jpg);
    background-color: rgb(240, 238, 238);
    background-size: cover;
}
.myCard{
    width: 90%;
}
.myTitel{
    text-shadow: 2px 2px 5px #106e6e ;
}
.myCardProduct{
    // box-shadow: 1px 1px 3px 3px #d63384;
    box-shadow: 0 1px 2px 0 #6bcccc , 0 1px 5px 0 #4dacac ;
}
.myDataOfAbout{
    background-color: rgb(241, 240, 240);
}
video{
    max-width: 100%;
    height: auto;
}
.myIntegramIcon{
    color: 	#8a3ab9;
    font-size: 30px;
}
.myfacebookIcon{
    color: 	#4267B2;
    font-size: 30px;
}
hr{
    height: 3px;
    width: 80%;
}
img{
    max-width: 100%;
    height: auto;
}
.myLink{
    border-color: #ebb0cd;
    color: ebb0cd;
}
.myLink:hover {
    background: #ebb0cd;
    color: white;
}
.myDetails{
    background: #106e6e ;
}
.myBtnCat{
    background-color: #cd9575;
}
.myArrow{
    background-color: #106e6e ;
}