<div class="container-fluid mySubCategory p-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form [formGroup]="addSubCategoryForm" (ngSubmit)="onSubmit()" >
                <p class="h3 fs-2 text-center myAddText">أضف النوع جديد</p>
                <div class="mb-4">
                    <label class="form-label fw-bold mt-5">اسم النوع</label>
                    <input type="text" class="form-control" id="form2Example17" [class.is-invalid]="subCategoryName.invalid && subCategoryName.touched" [class.is-valid]="subCategoryName.valid" formControlName="subCategoryName" class="form-control form-control-lg" required>
                    <div *ngIf="subCategoryName.invalid && subCategoryName.touched">
                        <small class="text-danger float-end" *ngIf="subCategoryName.errors.required">النوع مطلوب</small>
                    </div>
                </div>
                <button type="submit" (click)="addNewSubCategory()" class="btn mb-5 px-5 py-2 myBtn">حفظ</button>
                <div *ngIf="idClicked">
                    <div *ngIf="isAddSubCategory then success else wrong"></div>
                        <ng-template #success>
                            <div class="alert alert-success" role="alert">
                                تم الأضافه بنجاح
                            </div>
                        </ng-template>
                        <ng-template #wrong>
                            <div class="alert alert-warning" role="alert">
                            حدث خطأ بالأضافه
                            </div>
                        </ng-template>
                </div>
            </form>  
            <hr>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4">
                <p class="h3 fs-2 text-center myAddText my-4">الأنواع الموجودة</p>
                <table class="table table-bordered table-hover border border-dark text-center">
                    <thead >
                    <tr class="myHeaderTabel">
                        <th scope="col"class="all" >#</th>
                        <th scope="col">الأسم</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let subCategory of subCategoies , let i=index" >
                    <tr>
                        <th scope="row">{{i+1}}</th>
                        <td>{{subCategory.subCategoryName}}</td>
                        <td><button class="btn btn-danger" (click)="deleteSubCategory(subCategory.id)">مسح</button></td>
                        <td>  
                            <!-- Button trigger modal -->
                            <button type="button" (click)="getToupdateSubCategory(subCategory)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> تعديل </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        <div class="col-md-4"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تعديل النوع</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <form [formGroup]="addSubCategoryForm" (ngSubmit)="onSubmit()" >
                    <div class="mb-4">
                        <label class="form-label fw-bold mt-5">اسم النوع</label>
                        <input type="text" class="form-control" id="form2Example17" [class.is-invalid]="subCategoryName.invalid && subCategoryName.touched" [class.is-valid]="subCategoryName.valid" formControlName="subCategoryName" class="form-control form-control-lg" required>
                        <div *ngIf="subCategoryName.invalid && subCategoryName.touched">
                            <small class="text-danger float-end" *ngIf="subCategoryName.errors.required">النوع مطلوب</small>
                        </div>
                    </div>
                </form>  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">قفل</button>
                <button type="button" class="btn btn-primary" type="submit" (click)="updateSubCategory(objectToUpdate.id)">حفظ الغيير</button>
            </div>
            </div>
        </div>
    </div>
</div>