<div class="container-fluid p-5 myPage">
    <p class="h3 mb-4 myText text-center">أراء العملاء</p>
    <div class="row">
        <div class="col-md-8 mx-auto">   
            <div class="card shadow-lg mx-auto">
        <div *ngFor="let feed of feedback; let i = index" >
            <div class="card-body">
                <h5 class="card-title">{{i+1}}- {{feed.fullName}}.</h5>
                <p class="card-text">{{feed.clientReview}}.</p>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>