<div class="container-fluid mt-5 px-5" style="text-align: center;">
        <p class="h3 text-warning">كيفيه قياس حجم خاتمك؟</p>
        <p class="fs-5">احضرى خيطاوقومى بلفه حول أصبعك ثم قومى بقياس طوله بالمسطرة وارسل إلينا حجم الخاتم مع الخاتم الذى تريده.</p>
        <p>للتفاصيل اكثر والتوضيح شاهد الفيديو...</p>

        <video controls class="mt-3" style="max-width: 100%; height: auto;">
            <source src="../../assets/شغلنا.mp4" type="video/mp4">
        </video>
</div>




<!-- 
<div class="container-fluid">
    <form style="width: 70%;" class="mx-auto">
        <p class="h3 text-warning mt-5" style="text-align: center;">أضف منتج جديد</p>
        <div class="mb-4 mx-auto">
            <label class="form-label fw-bold mt-5">صورة المنتج</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-4 mx-auto">
            <label class="form-label fw-bold">السعر</label>
            <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text">ج</span>
                </div>
              </div>
        </div>
        <div class="mb-4 mx-auto">
            <label class="form-label fw-bold">نوع المنتح(فضى , دهبى)</label>
            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                  <option selected>واحد</option>
                  <option value="1">واحد</option>
                  <option value="2">اتنين</option>
                </select>
                <label for="floatingSelect">اختار نوع المنتج</label>
            </div>
        </div>
        <div class="mb-4 mx-auto">
            <label class="form-label fw-bold">نوع المنتح(خاتم, سلاسل)</label>
            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                  <option selected>واحد</option>
                  <option value="1">واحد</option>
                  <option value="2">اتنين</option>
                </select>
                <label for="floatingSelect">اختار المنتج</label>
            </div>
        </div>
        <button type="submit" class="btn btn-warning">حفظ</button>
      </form>
</div> -->