<section>
  <div class="container-fluid p-3">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col col-xl-10">
        <div class="card shadow-lg mx-auto" style="width: 70%; border-radius: 50px;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block" >
              <img
                src="assets/pexels-ka.jpg"
                alt="login form"
                class="img-fluid h-100"
                style=" border-top-right-radius: 50px; border-bottom-right-radius: 50px;"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center" style="background-color: rgb(245, 245, 245);  border-top-left-radius: 50px; border-bottom-left-radius: 50px;">
              <div class="card-body text-black">

                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                 <div class="clearfix mb-3">
                  <div class=" bg-dark col-md-2 d-none d-md-block float-start">
                    <img src="../../../assets/logoLogin.jpg" alt="login form" class="img-fluid m-0 p-0"/>
                  </div>
                  <div class="pt-3 pe-3">
                    <h5 class="fw-normal fs-4" style="letter-spacing: 1px;">إنشاء حساب</h5>
                  </div>
                  </div>
                  <div class="form-outline mb-2">
                    <label class="form-label float-end fs-6" for="form2Example17">اسم المستخدم</label>
                    <input type="name" id="form2Example17" [class.is-invalid]="userName.invalid && userName.touched"  [class.is-valid]="userName.valid " formControlName="userName" class="form-control form-control-lg" required/>
                    <div *ngIf="userName.invalid && userName.touched">
                      <small class="text-danger float-end" *ngIf="userName.errors.required">اسم المستخدم مطلوب</small>
                  </div>

                  </div>
                  <div class="form-outline mb-2">
                    <label class="form-label float-end fs-6" for="form2Example17">البريد الالكترونى</label>
                    <input type="email" id="form2Example17" [class.is-invalid]="email.invalid && email.touched" [class.is-valid]="email.valid"  formControlName="email" class="form-control form-control-lg"  required/>
                    <div *ngIf="email.invalid && email.touched">
                      <small class="text-danger float-end" *ngIf="email.errors.required">البريد الالكترونى مطلوب</small>

                  </div>
                  </div>

                  <div class="form-outline mb-2">
                    <label class="form-label float-end fs-6" for="form2Example27">كلمة المرور</label>
                    <input type="password" id="form2Example27" [class.is-invalid]="passwordHash.invalid && passwordHash.touched"  [class.is-valid]="passwordHash.valid " formControlName="passwordHash" class="form-control form-control-lg" required  />
                    <div *ngIf="passwordHash.invalid && passwordHash.touched">
                      <small class="text-danger float-end" *ngIf="passwordHash.errors.required">كلمة المرور مطلوب</small>
                      <small class="text-danger float-end" *ngIf="passwordHash.errors.minlength">يجب ادخال على الاقل 6 ارقام</small>
                  </div>
                  </div>

                  <div class="form-outline mb-2">
                    <label class="form-label float-end fs-6" for="form2Example27"> تاكيد كلمة المرور </label>
                    <input type="password" id="form2Example27" [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched"  [class.is-valid]="confirmPassword.valid " formControlName="confirmPassword" class="form-control form-control-llg" required />
                    <small class="text-danger float-end" *ngIf="registerForm.errors?.misMatch">كلمة المرور غير متطابقة مع تاكيد كلمة المرور</small>
                    <div *ngIf="confirmPassword.invalid && confirmPassword.touched">
                        <small class="text-danger float-end" *ngIf="confirmPassword?.errors.required">تاكيد كلمة المرور مطلوب</small>
                    </div>
                  </div>

                  <div class="pt-2 text-center">
                    <button class="btn allbutton" type="submit"[disabled]="!registerForm.valid">إنشاء حساب</button>
                  </div>
                  <p class="text-center" > لدى حساب  <a href="Login" style="color: #393f81;" >سجل هنا</a></p>
                </form>
                <div class="alert alert-warning" *ngIf="onSubmit && isSignUpFailed">
                  إنشاء الحساب خاطئ<br />{{ error }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
