.myHeaderTabel{
    background-color: #065757;
    color: white;
}
.btnOrder{
    width: 40%;
}
.myPage{
    min-height: 100vh;
    // background-image: url(../../../assets/background1.jpg);
    // background-size: cover;
    background-color: rgb(241, 240, 240);
}
