<div class="container-fluid">
    <div class="p-4">
        <button class="btn border p-3 border-1 btnOrder">الطلبات تم تسليمها</button>
        <button class="btn border p-3 border-1 btnOrder">الطلبات جارى تنفيذها</button>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4">
                <p class="h3 fs-2 text-center my-4 mb-5 myTitel">الأصناف الموجودة</p>
                <table class="shadow-lg table table-bordered table-hover border border-dark text-center">
                    <thead >
                    <tr class="myHeaderTabel">
                        <th scope="col"class="all" >#</th>
                        <th scope="col">اسم المنتج</th>
                        <th scope="col">صوره المنتج</th>
                        <th scope="col">السعر</th>
                        <th scope="col">رقم العميل</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let order of orders , let i=index" >
                            <tr *ngIf="order.finish == 0">
                                <th scope="row">{{i+1}}</th>
                                <td>{{order.productName}}</td>
                                <td><img [src]="createImgPath(order.productImage)"></td>
                                <td>{{order.price}}</td>
                                <td>{{order.phoneNumber}}</td>
                                <td>  
                                    <button type="button" class="btn btn-success"> تم التسليم </button>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        <div class="col-md-4"></div>
    </div>

</div>