.myCategory{
    min-height: 100vh;
    // background-image: url(../../../assets/background1.jpg);
    background-size: cover;
    // background-color: #eaf7f7;
}
.myHeaderTabel{
    background-color: #065757;
    color: white;
}
hr{
    box-shadow: 2px 2px 5px #065757;
    color: #065757;
    height: 2px;
}
