.myProduct{
    // background-image: url(../../../assets/background1.jpg);
    // background-size: cover;
    min-height: 100vh;
    background-color: #f5e2ec;
}
// .myBtn{
//     background-color: #d482ad;
// }
.myAddText{
    text-shadow: 2px 2px 5px #c44d8a;
}
.myHeaderTabel{
    background-color: #da88b2;
}
hr{
    box-shadow: 2px 2px 5px #c44d8a;
    color: #c44d8a;
    height: 2px;
}