<div class="card shadow-lg mb-5 mt-3 mt-5 mx-auto" style="max-width: 640px; height: 50%;">
  <div class="row g-0 d-flex align-items-center">
    <div class="col-md-8">
      <div class="card-body text-center ">
        <h5 class="card-title"> {{productid.productName}}</h5>
        <p class="card-text">{{productid.priceSilver}} ج</p>
        <p class="card-text mb-5"><small class="text-muted"></small></p>
        <span *ngIf="isRing" class="mt-5">
            <span class="d-flex justify-content-center mb-2">
              <label class="form-label fw-bold">إدخل حجم خاتمك</label>
              <input type="number" class="form-control me-3 w-25">
            </span>
          <span >لكيفيه معرفة حجم خاتمك <a href="RingSize" style="color: #393f81;">إضغط هنا</a></span>
        </span>
      </div>
    </div>
    <div class="col-md-4 text-center float-start" >
      <img [src]="createImgPath(productid.productImage)" class="img-fluid rounded-start bord " style="height:250px;" alt="...">
    </div>
  </div>
</div>
