<div class="container-fluid pt-5">
  <div class="card shadow-lg mx-auto " style="max-width: 640px; height: 50%; top: 50%;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body pt-5 me-4 align-middle">
        <div class="d-flex">
          <h4 style="color: #034444;"> المنتج: </h4> <h5 class="card-title">&nbsp; {{productid.productName}} </h5>
        </div>
        <div class="d-flex">
          <h4 style="color: #034444;">  السعر: </h4>  <h5 class="card-text">&nbsp; {{productid.price}} ج</h5>
        </div>

          <span *ngIf="isRing" class="mt-5">
              <span class="d-flex mb-2">
                <label class="form-label fw-bold">إدخل حجم خاتمك</label>
                <input type="number" class="form-control me-3 w-25">
              </span>
            <span >لكيفيه معرفة حجم خاتمك <a href="RingSize" style="color: #393f81;">إضغط هنا</a></span>
          </span>

          <div class="d-flex justify-content-center"  style="position: absolute; bottom: 5px; left: 0px; right: 0px;">
            <div> <button class="btn btn-outline-dark mx-3" (click)="isLoggedIn()"> أطلب الأن   </button></div>
            <div class="bd-highlight"> <button class="btn btn-outline-dark" (click)="Back()" >رجوع</button></div>
          </div>
          </div>
      </div>
        <div class="col-md-4 float-start">
          <img [src]="createImgPath(productid.productImage)" onerror="if (this.src != '../../assets/error1.png') this.src = '../../assets/error1.png';"  class="img-fluid rounded-start bord " style="height:250px;"
            alt="...">
        </div>
      </div>
  </div>

</div>


<!-- Modal -->
<!-- login -->
   <ng-template #exampleModal1 let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">طلب الصنف</h5>
    </div>
    <div class="modal-body">
      <form [formGroup]="OrderNowForm" (ngSubmit)="onSubmit()" >
        <div class="mb-4">
            <input type="hidden" class="form-control"  formControlName="id" [value]="productid.id"  id="form2Example17"  class="form-control form-control-lg" required>
        </div>
        <div class="mb-4 text-center">
          <img type="text"   formControlName="productImage" [src]="createImgPath(productid.productImage)" id="form2Example17"   required>
        </div>

        <div class="mb-4">
          <label class="form-label fw-bold mt-5"> رقم التليفون</label>
          <input type="text" class="form-control"  formControlName="phoneNumber"  id="form2Example17"  class="form-control form-control-lg" required>
        </div>

        <div class="mb-4">
          <label class="form-label fw-bold mt-5"> اى اضافات</label>
          <input type="text" class="form-control"  formControlName="mSG" value="" id="form2Example17"  class="form-control form-control-lg" required>
        </div>

        <div *ngIf="idClicked">
            <div *ngIf="isAddOder then success else wrong"></div>
                <ng-template #success>
                    <div class="alert alert-success" role="alert">
                        تم الأضافه بنجاح
                    </div>
                </ng-template>
                <ng-template #wrong>
                    <div class="alert alert-warning" role="alert">
                    حدث خطأ بالأضافه
                    </div>
                </ng-template>
        </div>
    </form>

    </div>
    <div class="modal-footer">
      <button  class="btn allbutton" type="submit"> اطلب الان </button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
   </ng-template>

<!-- notLogin -->
    <ng-template #exampleModal2 let-modal>
      <div class="modal-header">
        <div class="float-start"><h3 class="text-warning">تنبيه!</h3></div>
        <div><i class="fas fa-exclamation-circle text-warning fs-4"></i></div>
      </div>
      <div class="modal-body">
        <p>يرجى تسجيل الدخول للطلب</p>
      </div>
      <div class="modal-footer">
        <button  class="btn allbutton" type="button">سجل الان</button>
      </div>
    </ng-template>

<!-- insure -->
    <ng-template #exampleModalCheck let-modal>
      <div class="modal-header">
        <div class="float-start"><h3 class="text-warning">تأكيد</h3></div>
        <!-- <div><i class="fas fa-exclamation-circle text-warning fs-4"></i></div> -->
      </div>
      <div class="modal-body">
        <p>تأكيد الطلب</p>
        <p>السعر{{productid.price}}</p>
      </div>
      <div class="modal-footer">
        <button  class="btn allbutton" type="button" (click)="addNewProduct()">تأكيد</button>
        <button type="button" class="btn btn-light allbutton" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
