<section>
  <div class="container py-5 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card  shadow-lg" style=" border-radius: 50px;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block" >
              <img
                src="assets/pexels-ka.jpg"
                alt="login form"
                class="img-fluid h-100"
                style=" border-top-right-radius: 50px; border-bottom-right-radius: 50px;"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center" style="background-color: rgb(245, 245, 245);  border-top-left-radius: 50px; border-bottom-left-radius: 50px;">
              <div class="card-body p-4 p-lg-5 text-black">

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >

                  <div class="col-md-6 col-lg-5 d-none d-md-block mx-auto  d-block">
                    <img
                      src="../../../assets/logoLogin.jpg"
                      alt="login form"
                      class="img-fluid h-50"
                    />
                  </div>

                  <h5 class="fw-normal mb-3 pb-3 text-center fs-1 " style="letter-spacing: 1px;line-height:90px;">تسجيل دخول </h5>

                  <div class="form-outline mb-4">
                    <label class="form-label fs-4 float-end" for="form2Example17"> اسم المستخدم</label>
                    <input type="text" id="form2Example17" [class.is-invalid]="userName.invalid && userName.touched" [class.is-valid]="userName.valid" formControlName="userName" class="form-control form-control-lg" required/>
                    <div *ngIf="userName.invalid && userName.touched">
                      <small class="text-danger float-end" *ngIf="userName.errors.required">البريد الالكترونى مطلوب</small>
                  </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label fs-4 float-end" for="form2Example27" >كلمة المرور</label>
                    <input type="password" id="form2Example27" [class.is-invalid]="passwordHash.invalid && passwordHash.touched"  [class.is-valid]="passwordHash.valid "  formControlName="passwordHash" class="form-control form-control-lg" required />
                    <div *ngIf="passwordHash.invalid && passwordHash.touched">
                      <small class="text-danger float-end" *ngIf="passwordHash.errors.required">كلمة المرور مطلوب</small>
                      <small class="text-danger float-end" *ngIf="passwordHash.errors.minlength">يجب ادخال على الاقل 6 ارقام</small>
                  </div>
                  </div>

                  <div class="pt-1 mb-4 text-center">
                    <button class="btn myLogin" type="submit" [disabled]="loginForm.invalid">تسجيل دخول</button>
                  </div>

                  <p class="mb-5 pb-lg-2 text-center " >ليس لدى حساب  <a href="Register" style="color: #393f81;">إنشاء هنا</a></p>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
