/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

button{
    background-color: #065757 ;
    color: white;
}
.allbutton{
  background-color: #065757 ;
  color: white;
}
.allTextShadow{
  text-shadow: 2px 2px 5px #a4a7a7;
}
