hr{
    height: 3px;
    width: 80%;
}
.myCard{
    width: 90%;
}
.myCardProduct{
    box-shadow: 1px 1px 3px 3px #ffc107;
}
.myDataOfAbout{
    width: 90%;
}
video{
    max-width: 100%;
    height: auto;
}