
hr{
    color: #ffc107;
    height: 3px;
    width: 80%;
    margin: 0 auto;
}
.myCarousel{
    background-color: #ffc107;
}
.myCard{
    width: 90%;
}
.myCardProduct{
    box-shadow: 1px 1px 3px 3px #ffc107;
}
.myDataOfAbout{
    width: 70%;
}
video{
    max-width: 100%;
    height: auto;
}
.socialMedia{
    text-align: center;
}
